body {
	background-color : rgb(64,64,64);
	background-image: url("giphy.gif");
	background-repeat: no-repeat;
	background-attachment: scroll;
}
h1 {
	font : arial;
	color : rgb(45,255,112);
	background-color: rgbrgb(64,64,64);
	border-style : outset;
	border-color : rgb(34, 31, 31);
	margin : 10px;
}
p, h2, ul, li{
	font : arial;
	color : rgb(45,255,112);
	background-color: rgb(64,64,64);
	border-style : outset;
	border-color : rgb(34, 31, 31);
	margin : 10px;
}
div ,span{
	background-color: rgb(64,64,64);
	border-style : outset;
	border-color : rgb(34, 31, 31);
	margin : 10px;
}
a {
	color : rgb(45,255,112);
}
a:hover {
		background-color : #58AD74;
}
.greetings {
	font-size : 20px;
	font-weight : bold;
}

h2{
	max-width : 135px;
}
ul,li {
	max-width : 250px;
}

#ParagrapheIntro {
	position: absolute;
	left: 200px;
	top: 500px;
}
